app-product-item {
    width:auto;
}

.wrapper {
    height:inherit;
}

.container {
    overflow-y: auto;
    overflow-x: hidden;
    outline: 5px solid #3f51b5;
    outline-offset: 5px;
    margin: 10px;
}

.header {
    padding:10px;
    background-color: #3f51b5;
    font-size:20px;
    font-weight: bold;
    color:white;
}

.empty-list {
    height: 150px;
    position: relative;
}

.add-icon {
    position: absolute;
    top: 25%;
    left: 35%;
    font-size:72px;
    color:#777;
}