<div fxLayout="column" class="wrapper">
  <div class="header" fxFlex="0 0 auto" fxLayout="row">
    <div fxFlex="1 0 auto" fxLayout="column">
      <div fxFlex="1 0 auto"></div>
      <div fxFlex="1 0 auto">Droplist</div>
      <div fxFlex="1 0 auto"></div>
    </div>
    <button mat-button class="clear-button" fxFlex="0 0 auto" (click)="clearDroplist()">
      Clear
      <mat-icon>delete</mat-icon>
    </button>
  </div>
  <div fxLayout="column" fxFlex="0 1 auto" fxLayoutGap="10px" [dragula]="'first-bag'" [dragulaModel]='droplist' id="drop-bag"
    *ngIf="droplist" class="container" [style.width]="tileWidth" (scroll)="onScroll($event)" [class.fadedScroller]="isFadeOut">
    <div *ngIf="!droplist ||droplist.length === 0" class="empty-list"> <mat-icon class="add-icon">add</mat-icon></div>
    <app-product-item fxFlex="0 0 auto" *ngFor="let product of droplist; let x = index" [product]="product" [editable]="true"
      (onchange)="onDroplistChange()">
    </app-product-item>
  </div>
</div>