mat-form-field {
    width: 100%;
}

mat-chip {
    margin-bottom: 5px !important;
    margin-left: 0 !important;
    margin-right: 5px !important;
}

.select-chip {
    width: 80px;
}

.any-chip {
    background-color: #f22;
    color: white;
    font-weight: bold;
}

.custom-input {
    width:inherit;
    border: 0;
    background-color: transparent;
}

.custom-input:focus {
    border: 0;
    outline: 0;
}