:host-context() {
    cursor: pointer;
}

app-carousel {
    top:0;
    bottom:0;
    left:0;
    right:0;
    position: absolute;
}

.no-bottom-padding {
    padding-bottom: 0px;
}

mat-card {
    padding:10px;
}

mat-card-content {
    position: relative;
    padding-top:100%;
}

.gallery-header {
    min-height:50px;
}

.header-bold {
    font-weight: bold;
    font-size: 18px;
    text-align:center;
}

.header-small {
    position: relative;
}

.price-tag {
    font-size:15px;
    bottom: 0px;
    position: absolute;
    right: 0px;
    margin-bottom: 5px;
}

.edit-product {
    cursor: default;
}

app-chip-list:not(:first-child) /deep/ .mat-chip-list-wrapper{
    margin-top:5px;
}