app-drop-choice {
    margin-top: 10px;
}

app-drop-list {
    margin-bottom:20px;
    margin-top: 10px;
}

app-drop-list.sticky {
    position: sticky;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 10px;
    height: 88vh;
}

div:before,
div:after {
    content: " ";
    display: table;
}

div:after {
    clear: both;
}