.rating-positive {
    background-color:#5cb85c;
}

.rating-negative {
    background-color:#d9534f;
}

.rating-negative,
.rating-positive {
    color: white;
    font-size: 10px;
    padding:1px;
    text-align: center;
}

.rating-container {
    border-radius: 10px;
    overflow:hidden;
}